<!DOCTYPE html>
<html>
<head>
	<title>Web Workers June 2018</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
	<link rel="stylesheet" href="main.css">
	
	<script src="main.js" type="text/javascript"></script>
</head>
<body>
	<header>
		<h1>Arduino Examples</h1>
	</header>
	<div class="example-container">
		<div id="input-example" class="example">
			<div class="demo-container">
				<div class="spinner-container">
					<div id="spinner" class="spinner"></div>
				</div>
				<div class="speed-container">
					<div class="speed-indicator">
						<div class="label">Current speed</div>
						<div id="current-speed">0</div>
					</div>
				</div>
			</div>
		</div>

		<div id="output-example" class="example">
			<div class="demo-container">
				<div class="buttons-container">
					<div class="button">
						<a class="output-button selected" data-color="red" id="red-button"></a>
					</div>
					<div class="button">
						<a class="output-button" data-color="green" id="green-button"></a>
					</div>
					<div class="button">
						<a class="output-button" data-color="blue" id="blue-button"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>